$min-width: 750px;

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 110px;
    justify-items: center;
    align-items: center;
    overflow-x: auto;

    @media screen and (min-width: $min-width) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 125px;
    }
}

.header_logo {
    min-width: max-content;
    height: 100%;

    &#logoITT {
        height: 80px;
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
    }

    &#logoTNM {
        grid-row: 1;
        grid-column: 1 / 3;
    }

    &#logoTNMH {
        grid-row: 1;
        grid-column: 1;
        height: 85%;
        justify-self: start;
    }
}



@media screen and (min-width: $min-width) {
    .header_logo {
        &#logoITT {
            grid-column: 3;
            justify-self: center;
        }

        &#logoTNM {
            grid-column: 1;
        }

        &#logoTNMH {
            grid-column: 2;
            height: 85%;
            justify-self: center;
        }
    }
}