/*
    ===========
    Main Styles
    ===========
*/

/* Login Form Styles*/

.form {
    background: #f5f5f5;
    box-shadow: 0 0 2em #aaa;
}

.form__input {
    margin-bottom: 1em;
}

.form__keys>* {
    display: block;
    width: 90%;
}

.label {
    margin-bottom: 0.25em;
    display: none;
    color: #b92025;
    font-weight: 500;
}

.form__keys>input {
    padding: .5em 0 0.5em 0.5em;
    border: none;
}

.submitBtn {
    padding: .35em 1.125em;
    border: none;
    border-radius: 0.25em;
    box-shadow: 0 0 5px #555;
}

/* Wrong credentials*/
.incorrect {
    display: block;
}


@media screen and (min-width: 768px) {
    .main {
        grid-template-columns: 1fr 330px 1fr;
        grid-template-areas: "welcome form important"
            "support form .";
        grid-template-rows: auto auto;
    }

    #welcome {
        grid-area: welcome;
    }

    #important {
        grid-area: important;
    }

    #form {
        grid-area: form;
    }

    #support {
        grid-area: support;
    }
}